/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  @media (max-width: 600px) {
    img {
      display: none;
    }
  }
  #logo{
    max-width: 220px;
  }
  html, body {
    margin: 0;  /* Removes the default margin */
    padding: 0;  /* Removes the default padding */
    width: 100%;  /* Ensures the body takes up the full width */
    height: 100%;  /* Ensures the body takes up the full height */
}
  .heroSection {
      background: 
      linear-gradient(to right, rgba(0, 0, 0, 10), rgba(0, 0, 0, 0)),  /* Dark-to-light gradient overlay */
      url('andy-li-RndRFJ1v1kk-unsplash.jpg');  /* Background image */
      background-size: cover;
      background-position: center;
      height: 100vh; /* Full height */ 
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }/
  nav {
    margin-top: 0;
    position: absolute;  /* Keeps it at the top of the hero section */
    top: 0;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 10), rgba(0, 0, 0, 0));
    padding: 10px 0;
    text-align: center;
    margin-left: 0;
  }

  nav ul{
    list-style: none;
    display: flex;
  }
  nav li{
    margin: 10px 100px;
  }
  nav a{
    color: white;
    text-decoration: none;
    font-family: "Spectral", serif;
    font-weight: 700;
  }
  .contactSection{
    display: flex;
    margin-top: 250px;
    color: white;
    padding-left: 50px;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .heading{
    font-size: 4em;
    max-width: 700px;
    font-family: "Spectral", serif;
    margin-bottom: 20px;
  }
  .contactInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Spectral", serif;
    font-weight: 800;
    max-width: 700px;
  }
  .button{
    margin-top: 15px;
    height: 50px;
    width: 120px;
    color: black;
    font-weight: 800;
    font-family: "Spectral", serif;
  }
  .aboutUs{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 50px;
    font-family: "Spectral", serif;
    background-color: #bb877a;
  }
  .aboutUsImg{
    height: 450px;
    width: 650px;
    gap: 30px; 
  }
  .bgColorAboutUs{
    background-color: #d5a294;
    height: 450px;
    width: 100vw;
  }
  .aboutUsText{
    text-align: center;
    margin: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .aboutUsText h1{
    font-size: 2.5rem;
    margin-bottom: 40px;
  }
  .aboutUsP{
    line-height: 1.5;
  }
  .threeWords{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    line-height: 3em;
    font-size: large;
  }