/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  @media (max-width: 600px) {
    img {
      display: none;
    }
  }

  *{
    background-color: black;
    color: white;
  }
/*
  nav  .logo h1{
    max-height: 200px;
    font-family: "IBM Plex Sans Condensed", serif;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    margin: 0;
  }

  .logo{
    display: flex;
    top: 0;
    left: 0;
    width: 200px;
    overflow: hidden;
    margin-top: 30px;
    margin-left: 30px;
}*/

.container{
  display: flex;
}
.column {
  flex: 1;
  margin: 60px;
  padding: 10px;
  border: 1px solid white;
  align-self: stretch;
}

h2 *{
  font-size: 50px;
}




/*
.leftSection{
    width: 25vw;
    margin-left: 40px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    font-family: "IBM Plex Sans Condensed", serif;

}


.breakfastLine{
  background-color: white;
  height: 2px;
  bottom: 350px;
  width: 90vw;
}

.verticalLine{
    position: absolute;
    background-color: white;
    width: 3px;
    top: 300px;
    bottom: -500px;
    left: 50%;
    
}

.rightSection{
  margin-right: 40px;
  max-width: 25vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "IBM Plex Sans Condensed", serif;
  
}
