/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  @media (max-width: 600px) {
    img {
      display: none;
    }
  }

  body{
    background-color: #4B2E1D;
    color: black;
  }
/*
  nav  .logo h1{
    max-height: 200px;
    font-family: "IBM Plex Sans Condensed", serif;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    margin: 0;
  }

  .logo{
    display: flex;
    top: 0;
    left: 0;
    width: 200px;
    overflow: hidden;
    margin-top: 30px;
    margin-left: 30px;
}

.nav{
  max-height: 150px;
}
*/
.navbar{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  height: 200px;
  margin-top: 10px;
}

.logo {
  position: absolute;
  left: 60px;
  top: 50%;
  transform: translateY(-50%); /* Centers vertically */
  padding-top: 30px;
}
.logo img{
  height: 200px;
}

.navCenter{
  text-align:center;
  flex-grow: 2;
  font-family:  serif;
}

.navCenter h1{
font-size: 30px;
color: #F8E9D2;
}

.spacer{
  flex-grow: 1;
}
.navCenter p{
  font-size: 30px;
  color: #F8E9D2;
}

.container{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}

.column {
  display: block;
  min-height: 100vh;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  padding: 20px;
  text-align: center;
  border-radius: 30px;
  background-color: #F8E9D2 ;
}

h2 *{
  font-size: 50px;
}



/*

.leftSection{
    width: 25vw;
    margin-left: 40px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    font-family: "IBM Plex Sans Condensed", serif;

}


.breakfastLine{
  background-color: white;
  height: 2px;
  bottom: 350px;
  width: 90vw;
}

.verticalLine{
    position: absolute;
    background-color: white;
    width: 3px;
    top: 300px;
    bottom: -500px;
    left: 50%;
    
}

.rightSection{
  margin-right: 40px;
  max-width: 25vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "IBM Plex Sans Condensed", serif;
  
}
